html, body {
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

:root {
    --header-title-font-size: 50px;

    --footer-title-font-size: 35px;
    --social-title-font-size: 30px;
    --icons-font-size: 30px;

    --sidebar-font-size: 25px;

    --sidebar-width: 125px;
    --sidebar-height: 100vh;
    --sidebar-hover-width: 250px;
    --sidebar-hover-height: var(--sidebar-height);
    --sidebar-flex-direction: column;

    --grid-template-area: 
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    --grid-template-columns: var(--sidebar-width) 1fr;
    --grid-template-rows: 150px 5fr 1fr;

    --slider-width: 800px;
    --slider-height: 400px;
    --slider-img-width: 700px;

    --footer-padding: 50px;
    --footer-container-margin: 100px;

    --icons-bg-size: 40px;
    --icons-gap: 10px;
}

@media (max-width: 900px) {
    :root {
        --header-title-font-size: 30px;

        --footer-title-font-size: 20px;
        --social-title-font-size: 17px;
        --icons-font-size: 20px;

        --sidebar-font-size: 15px;

        --sidebar-width: 100vw;
        --sidebar-height: 50px;
        --sidebar-hover-width: var(--sidebar-width);
        --sidebar-hover-height: var(--sidebar-height);
        --sidebar-flex-direction: row;
        --sidebar-justify-content: space-around;

        --grid-template-area: 
        "sidebar"
        "header"
        "main"
        "footer";
        --grid-template-columns: 1fr;
        --grid-template-rows: var(--sidebar-height) 75px 5fr 0.5fr;

        --slider-width: 350px;
        --slider-height: 150px;
        --slider-img-width: 250px;

        --footer-padding: 20px;
        --footer-container-margin: 0px;

        --icons-bg-size: 30px;
        --icons-gap: 10px;
    }
}

.site {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: var(--grid-template-area);
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
}

.header {
    grid-area: header;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    color: white;
    margin: 0;
    font-size: var(--header-title-font-size);
}

.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    width: var(--sidebar-width);
    height: var(--sidebar-height);

    background-color: red;

    transition: width 0.5s ease, height 0.5s ease;
}

.sidebar:hover {
    width: var(--sidebar-hover-width);
    height: var(--sidebar-hover-height);
}

.sidebar .container {
    display: flex;
    flex-direction: var(--sidebar-flex-direction);
    justify-content: var(--sidebar-justify-content);
}

.sidebar .container h2 {
    font-size: var(--sidebar-font-size);
    cursor: pointer;
}

.main {
    grid-area: main;
    background-color: rgb(231, 231, 231);
    height: 100vh; /* Remover */
}

.swiper {
    width: var(--slider-width);
    height: var(--slider-height);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: var(--slider-img-width);
    height: var(--slider-height);
}

.footer {
    grid-area: footer;
    background-color: rgb(43, 43, 43);

    display: flex;
    justify-content: space-between;

    padding: var(--footer-padding);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;

    margin-left: var(--footer-container-margin);
    margin-right: var(--footer-container-margin);
}

.footer .container .info-row {
    display: flex;
    justify-content: space-between;
}

.footer .container .info-row .title {
    font-size: var(--footer-title-font-size);
}

.footer .container .info-row .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--icons-gap);
}

.footer .container .info-row .social i {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--icons-bg-size);
    height: var(--icons-bg-size);

    border-radius: 50%;
    background-color: white;
    
    font-size: var(--icons-font-size);
}

.footer .container .info-columns {
    display: flex;
    justify-content: space-between;
}

.footer .container .column {
    display: flex;
    flex-direction: column;
}